{% extends 'guiControl/base.html' %}

{% block title %}Terra God- Devices{% endblock %}
{% block pageTitle %}Devices{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" ,action="#">
    {% csrf_token %}
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Pi Pin No.</th>
            <th>Type</th>
            <th>Delete</th>
        </tr>           

        {% for device in devices %}
        <tr>
            <td>{{device.name}}</td>
            <td>{{device.pin_number}}</td>
            <td>{{device.type}}</td>
            <td><input type="checkbox" name="delete-device_{{device.id}}"></button></td>
        </tr>       
        {%endfor%}
    </table>
    <button type="submit"  name="delete_devices" value='delete_devices'>Delete Selected</button>
</form>

<br>
<h3>Add new device</h3>
<form method="post" ,action="#">
    {% csrf_token %}
    <a>Device name</a>
    <input type="text" name="device_name" required>
    <a>Pi pin number</a>
    <input type="number" name="pin_number" min='1' max='40' required>
    <a>Type</a>
    <select name="type">
        <option value="Light">Light</option>
        <option value="Misting">Misting</option>
        <option value="Fan">Fan</option>
        <option value="Other">Other</option>
    </select>
    
    <button type="submit"  name="submit" value='submit_data'>Submit</button>
    <button type="reset"  name="cancel" value='cancel_form'>Cancel</button>
</form>


{% endblock %}

