{% extends 'guiControl/base.html' %}

{% block title %}Terra- Home{% endblock %}
{% block pageTitle %}Home Page{% endblock %}

{% block content %}
<p>Temp:</p>
<p>Humidety:</p>

<form method="post" ,action="#">

{% csrf_token %}

    <table>
        <tr>
            <th>Type</th>
            <th>Switch</th>
        </tr>
        <tr>
            <td>Lights</td>
            <td>
                <button type="submit" name="lights_switch_on" value="lights_switch_on">On</button>
                <button type="submit" name="lights_switch_off" value="lights_switch_off">Off</button>
                <button type="submit" name="lights_switch_timer" value="lights_switch_timer">Timer</button>
            </td>
        </tr>
        <tr>
            <td>Fans</td>
            <td>
                <button type="submit" name="fans_switch_timer" value="fans_switch_timer">On</button>
                <button type="submit" name="fans_switch_timer" value="fans_switch_timer">Off</button>
                <button type="submit" name="fans_switch_timer" value="fans_switch_timer">Timer</button>
            </td>
        </tr>
        <tr>
            <td>Misting</td>
            <td>
                <button type="submit" name="misting_switch_timer" value="misting_switch_timer">On</button>
                <button type="submit" name="misting_switch_timer" value="misting_switch_timer">Off</button>
                <button type="submit" name="misting_switch_timer" value="misting_switch_timer">Timer</button>
            </td>
        </tr>
        
    </table>
</form> 
        
{% endblock %}

