{% extends 'guiControl/base.html' %}

{% block title %}Terra- Home{% endblock %}
{% block pageTitle %}Home Page{% endblock %}

{% block content %}
    <p>Temp: {{ temp }}</p>
    <p>Humidity: {{ humi }}</p>

    <table>
        <tr>
            <th>Type</th>
            <th>Switch</th>
        </tr>
        <tr>
            <td>Lights</td>
            <td>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="btn-group" role="group" aria-label="Lights radio toggle button group">
                        <input type="radio" class="btn-check" name="lights_switch" value="on" id="btnradio1"
                               autocomplete="off" onchange='this.form.submit();' {% if switches.lights_switch == 'on' %}
                               checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio1">On</label>

                        <input type="radio" class="btn-check" name="lights_switch" value="timer" id="btnradio2"
                               autocomplete="off" onchange='this.form.submit();'
                                {% if switches.lights_switch == 'timer' %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio2">Timer</label>

                        <input type="radio" class="btn-check" name="lights_switch" value="off" id="btnradio3"
                               autocomplete="off" onchange='this.form.submit();'
                                {% if switches.lights_switch == 'off' %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio3">Off</label>
                    </div>
                </form>
            </td>
        </tr>

        <tr>
            <td>Fans</td>
            <td>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="btn-group" role="group" aria-label="Fans radio toggle button group1">
                        <input type="radio" class="btn-check" name="fans_switch" value="on" id="btnradio4"
                               autocomplete="off" onchange='this.form.submit();' {% if switches.fans_switch == 'on' %}
                               checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio4">On</label>

                        <input type="radio" class="btn-check" name="fans_switch" value="timer" id="btnradio5"
                               autocomplete="off" onchange='this.form.submit();'
                                {% if switches.fans_switch == 'timer' %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio5">Timer</label>

                        <input type="radio" class="btn-check" name="fans_switch" value="off" id="btnradio6"
                               autocomplete="off" onchange='this.form.submit();' {% if switches.fans_switch == 'off' %}
                               checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio6">Off</label>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>Misting</td>
            <td>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="btn-group" role="group" aria-label="Misting radio toggle button group1">
                        <input type="radio" class="btn-check" name="misting_switch" value="on" id="btnradio7"
                               autocomplete="off" onchange='this.form.submit();' {% if switches.misting_switch == 'on' %}
                               checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio7">On</label>

                        <input type="radio" class="btn-check" name="misting_switch" value="timer" id="btnradio8"
                               autocomplete="off" onchange='this.form.submit();'
                                {% if switches.misting_switch == 'timer' %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio8">Timer</label>

                        <input type="radio" class="btn-check" name="misting_switch" value="off" id="btnradio9"
                               autocomplete="off" onchange='this.form.submit();' {% if switches.misting_switch == 'off' %}
                               checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btnradio9">Off</label>
                    </div>
                </form>
            </td>
        </tr>

    </table>

{% endblock %}
