{% extends 'guiControl/base.html' %}

{% block title %}Terra God- Settings{% endblock %}
{% block pageTitle %}Settings{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="post" ,action="#">
        {% csrf_token %}
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>

            {% for group in interval_groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td><input type="checkbox" class="form-check-input position-static"
                               name="delete-group_{{ group.id }}"></td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-danger" name="delete_group" value='delete_group'>Delete Selected
        </button>
    </form>

    <br>
    <h3>Add new interval group</h3>
    <form method="post" ,action="#">
        {% csrf_token %}
        <div class="row">
            <div class="form-group">
                <label for="deviceName">Group name</label>
                <input type="text" class="form-control" name="device_name" placeholder="enter the device name" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="submit" value='submit_data'>Submit</button>
        <button type="reset" class="btn btn-danger" name="cancel" value='cancel_form'>Cancel</button>
    </form>


{% endblock %}

